/* Font Roboto */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: "Roboto", sans-serif;
}

:root {
    --primary: #1E40AF;
    --background: #DFDFDF;
    --background-card: #007C53;
    --text-color: #FFFFFF;
    --second-text-color: #000000;
}

/* Header */
header {
    background-color: var(--primary);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: row nowrap;
    padding: 20px 25px;
    width: 100%;
    height: 70px;
}

.header-title > h1 {
    font-size: 24px;
    font-weight: bolder;    
    color: var(--text-color);
}

/* Navigation */
.area-menu > img {
    width: 40px;
    height: 40px;
}

.navigation {
    display: none;
}

/* Main */
main {
    background-color: var(--background);
    width: 100%;
    padding: 20px 25px;
}

.content-text > h2, h3, p {
    margin-bottom: 8px;
}

.content-text > h2 {
    font-size: 16px;
    font-weight: bolder;
}

.content-text > h3 {
    font-size: 14px;
    font-weight: bolder;
    margin-bottom: 13px;
}

.content-text > p {
    text-align: justify;
    font-size: 12px;
    font-weight: 500;
}

/* Content image */
.content-image {
    display: none;
}

hr {
    margin: 20px 0;
}

/* Services */
.services-area {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
} 

.services-title {
    align-self: flex-start;
    flex: 1;
    margin-bottom: 30px;
}

.services-title > h2 {
    font-size: 24px;
    font-weight: bolder;
}

/* Cards */
.area-cards {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-around;
    gap: 40px;
}

.card {
    width: 291px;
    height: 260px;
    background-color: var(--background-card);
}

.card-image {
    padding: 0;
    width: 100%;
    margin-bottom: 10px;
}

.card-image > img {
    width: 100%;
    height: max-content;
}

.card-content > .card-title {
    font-size: 14px;
    margin-left: 10px;
}

.card-content > .card-text {
    font-size: 12px;
    font-weight: 400;
    margin-left: 10px;
}

/* Footer */
.first-footer {
    background-color: #909090;
    height: 130px;
    display: flex;
    justify-content: space-between;
    align-items: start;
    gap: 10px;
    padding: 10px;
}

.footer-title {
    width: 22%;
}

.footer-title > h3 {
    font-size: 13px;
    font-weight: bolder;
    color: var(--text-color);
    margin: 10px 0;
}

.area-footer-navigation {
    width: 50%;
    display: flex;
    justify-content: center;
}

.footer-navigation {
    display: flex;
    flex-flow: column nowrap;
    margin: 0 3px;
}

.footer-navigation-title > h4 {
    font-size: 15px;
    font-weight: bolder;
    text-transform: capitalize;
}

.footer-navigation-links {
    display: flex;
    flex-flow: column nowrap;
    gap: 4px;
    margin-left: 3px;
}

.footer-navigation-links > a {
    font-size: 12px;
    font-weight: 600;
    color: var(--text-color);
    text-transform: capitalize;
}

.area-contact {
    align-self: center;
    flex: 1;
    margin-top: 10px;
    width: 130px;
}

.icons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 13%;
    margin-bottom: 5px;
}

.icon > a > img {
    width: 20px;
    height: 20px;
}

.email-contact {
    display: flex;
    justify-content: center;
}

.btn-contact {
    width: 100px;
    height: 25px;
    border-radius: 14px;
    border: 1px solid #00000030;
    background-color: salmon;
    font-size: 14px;
    font-weight: bold;
}

.second-footer {
    background-color: #666666;
    height: 20px;
}

.copy {
    text-align: center;
    font-size: 12px;
}

@media (min-width: 700px) {
    .header-title > h1 {
        font-size: 30px;
    }

    .content-text > h2 {
        font-size: 20px;
    }

    .content-text > h3 {
        font-size: 16px;
    }

    .content-text > p {
        font-size: 14px;
    }

    .content {
        display: flex;
        gap: 30px;
    }

    .content-text {
        width: 50%;
    }

    .content-image {
        display: block;
        width: 50%;
    }

    .content-image > figure img {
        width: 100%;
        height: 200px;
    }

    .area-cards {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 40px;
        row-gap: 20px;
        max-width: 600px;
        margin-right: 40px;
        padding: 20px;
    }

    .first-footer {
        height: 150px;
    }

    .footer-title > h3 {
        font-size: 24px;
    }

    .area-footer-navigation {
        gap: 25px;
    }

    .footer-navigation-title > h4 {
        font-size: 18px;
    }
    
    .footer-navigation-links {
        margin-left: 5px;
    }

    .footer-navigation-links > a {
        font-size: 15px;
    }

    .area-contact {
        width: 150px;
    }

    .icon > a img {
        width: 35px;
        height: 35px;
    }

    .btn-contact {
        width: 140px;
    }

    .second-footer {
        height: 25px;
    }

    .copy {
        font-size: 15px;
    }
}

@media (min-width: 950px) {
    .area-menu {
        display: none;
    }

    .navigation {
        display: block;
    }

    .navigation > ul {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-around;
        align-items: center;
        gap: 20px;
    }

    .navigation > ul > li a{
        font-size: 18px;
        font-weight: bold;
        color: var(--text-color);
        position: relative;
        padding-bottom: 3px;
    }

    .navigation > ul > li a::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        width: 110%;
        height: 2px;
        background-color: #fff;
        transform: scaleX(0);
        transition: transform 0.3s ease-in-out;
    }

    .navigation > ul > li a:hover::after {
        transform: scaleX(1);
    }

    main {
        padding: 40px;
    }

    .content {
        display: flex;
        justify-content: space-between;
    }

    .content-text {
        width: 40%;
    }

    .content-text > h2 {
        font-size: 32px;
    }

    .content-text > h3 {
        font-size: 23px;
    }

    .content-text > p {
        font-size: 17px;
    }

    .content-image {
        width: 60%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .content-image > figure img {
        width: 40vw;
        height: 50vh;
    }

    .services-title > h2 {
        font-size: 32px;
    }

    .services-area {
        align-items: start;
    }

    .area-cards {
        column-gap: 10vw;
        row-gap: 50px;
    }

    .card {
        height: 350px;
        width: 362px;
    }

    .card-title > h3 {
        font-size: 19px;
    }

    .card-text > p {
        font-size: 15px;
    }

    .first-footer {
        padding: 10px 30px;
    }

    .footer-title > h3 {
        font-size: 25px;
    }
}